/* ----------------------------------------
Colors by env
----------------------------------------- */
.dev .topbar-inner {
    background-color: #ff4020;
	background-image: linear-gradient(top, #FF4120, #FF8120);
	background-image: -o-linear-gradient(top, #FF4120, #FF8120);
	background-image: -moz-linear-gradient(top, #FF4120, #FF8120);
	background-image: -webkit-linear-gradient(top, #FF4120, #FF8120);
	background-image: -ms-linear-gradient(top, #FF4120, #FF8120);
	
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left top,
	    color-stop(0, #FF4120),
	    color-stop(1, #FF8120)
	);
}
.dev.topbar a {
    color: black;
}

.preprod .topbar-inner{
    background-color: purple;
    background-image: linear-gradient(top, #e060ff, purple);
    background-image: -o-linear-gradient(top, #e060ff, purple);
    background-image: -moz-linear-gradient(top, #e060ff, purple);
    background-image: -webkit-linear-gradient(top, #e060ff, purple);
    background-image: -ms-linear-gradient(top, #e060ff, purple);
    
    background-image: -webkit-gradient(
        linear,
        left top,
        left top,
        color-stop(0, #e060ff),
        color-stop(1, purple)
    );
}

.preprod.topbar a {
    color: #ffffff;
}
